#######################################
#  Hugo Interactive Fiction Sources:  #
#  https://github.com/tajmone/hugo    #
#######################################

root = true

## C Source Files
#################
[*.{c,h,c.graphics}]
indent_style = space
indent_size = 3
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; C-style doc comments:
block_comment_start = /*
block_comment = *
block_comment_end = */


## Make Files
#############
[[Mm]akefile*]
indent_size = 2
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true


## Plain-Text Files
###################
[*.txt]
indent_style = space
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true

[{LICENSE,README,README.unix}]
indent_size = unset
indent_style = space
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true


## Markdown GFM
###############
[*.md]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Shell Scripts
################
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Batch Scripts
################
[*.bat]
indent_style = tab
indent_size = unset
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Configurations
#################
[.{git*,editorconfig}]
indent_style = space
indent_size = unset
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# EOF #
