#################################################
# Hugo Interactive Fiction:
# https://www.generalcoffee.com/hugo/gethugo.html
#################################################
* text=auto

## =========
## C Sources
## =========
*.c            text
*.c.graphics   text
*.c.graphics   linguist-language=C
*.h            text

## =============
## Shell scripts
## =============
*.bat   text eol=crlf
*.com   text eol=crlf
*.sh    text eol=lf
*.ps1   text eol=crlf


## ===================
## Configuration files
## ===================
*.cnf          text
*.conf         text
*.config       text
*.ini          text
*.prefs        text
[Mm]akefile*   text eol=lf
## -------------
## EditorConfig:
## -------------
.editorconfig  text eol=lf
.editorconfig  linguist-detectable=false
## -------------
## Git settings:
## -------------
.gitattributes text eol=lf
.gitconfig     text eol=lf
.gitignore     text eol=lf
.gitmodules    text eol=lf

## ===================
## Documentation files
## ===================
*.adoc         text
*.asciidoc     text
*.md           text
*.odt          binary
*.pdf          binary
*.txt          text
*COPYRIGHT*    text
*README*       text
AUTHORS        text
CHANGELOG      text
CHANGES        text
CONTRIBUTING   text
COPYING        text
copyright      text
INSTALL        text
license        text
LICENSE        text
NEWS           text
readme         text

# EOF #
